.article-detail-container {
    display: flex;
}

.span-filler-left-side {
    width: 10%;
    background-image: linear-gradient(to bottom, var(--alt-side-color-article-detail), transparent);
}

.span-filler-right-side {
    width: 10%;
    background-image: linear-gradient(to bottom, var(--alt-side-color-article-detail), transparent);
}

.article-detail-container-image-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
    width: 80%;
}

.article-detail-title {
    font-size: 2rem;
    font-weight: bolder;
    margin: 20px;
    text-align: center;
    color: var(--alt-color-article-detail-title);
}

.article-detail-image {
    width: 100%;
    height: auto;
}

.article-detail-image-container {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.article-detail-text-container {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    background: #8C92AC;
    color: #ffffff;
}

.article-detail-text {
    padding: 20px 40px;
    font-size: large;
}

.article-modal-button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .article-detail-container-image-text {
        width: 90%;
    }

    .track-detail-grand-prix-name {
        font-size: 30px;
    }

    .span-filler-left-side {
        width: 5%;
    }

    .span-filler-right-side {
        width: 5%;
    }

    .article-detail-text {
        padding: 20px 20px;
    }
}