.track-card-container {
    border-bottom: var(--border-bottom);
    margin: 15px;
    box-shadow: 5px 5px 5px 5px #00000052;
    background-image: linear-gradient(45deg, black, transparent);
}

.track-card-logo-image {
    max-height: 140px;
}

.track-card-body {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.track-card-button {
    width: 100%;
    max-height: 38px;
}