.team-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.link-to-themes {
    display: flex;
}

.back-to-themes {
    background: aliceblue;
    margin-bottom: 1rem !important;
}