.track-card-container {
    border-bottom: var(--border-bottom);
    margin: 15px;
    box-shadow: 5px 5px 5px 5px #00000052;
    background-image: linear-gradient(45deg, black, transparent);
}

.track-card-logo-image {
    max-height: 140px;
}

.track-round {
    width: 30px;
    position: absolute;
    text-align: center;
    font-weight: bolder;
    background-color: #0A2D82;
    color: #ffffff;
}

.track-card-body {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.track-flag {
    width: 30px;
}

.track-card-button {
    width: 100%;
    max-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: var(--team-button-border);
    background-color: var(--team-button-background);
    color: var(--team-button-color);
}

:hover.track-card-button {
    border: var(--team-button-alt-border);
    background-color: var(--team-button-alt-background);
    color: var(--team-alt-button-color);
}