.track-detail-container {
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.track-detail-grand-prix-name {
    font-size: xxx-large;
    text-align: center;
    color: var(--alt-color-article-detail-title);
}

.track-detail-image-video-container {
    display: flex;
    margin-top: 20px;
}

.track-detail-image-container {
    width: 50%;
}

.track-detail-image {
    width: 100%;
}

.track-detail-video {
    width: 50%;
    height: auto;
}

.track-detail-info-container {
    color: var(--track-group-info-color);
    display: flex;
    margin-top: 30px;
    background-image: linear-gradient(to left, var(--team-highlight-color), transparent);
}

.track-detail-info-left {
    width: 50%;
}

.track-detail-info-right {
    width: 50%;
}

.track-detail-flag {
    width: 30px;
}

.track-info-description-container {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    background: #8C92AC;
    color: #ffffff;
}

.about-track {
    text-align: center;
    font-size: larger;
    padding-top: 20px;
}

.track-info-description {
    padding: 20px;
    font-size: large;
}

.track-modal-button-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

.link-to-homepage {
    display: flex;
    text-decoration: none;
}

.back-to-homepage-track {
    width: 30%;
    max-height: 38px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: var(--team-button-border);
    background-color: var(--team-button-background);
    color: var(--team-button-color);
    margin-bottom: 1rem !important;
}

:hover.back-to-homepage-track {
    border: var(--team-button-alt-border);
    background-color: var(--team-button-alt-background);
    color: var(--team-alt-button-color);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .track-detail-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .article-detail-title {
        font-size: 22px;
    }

    .link-to-homepage-track {
        width: 150px;
        margin-left: 0;
    }

    .back-to-homepage-track {
        width: 42%;
    }

    .track-detail-image-video-container {
        display: flex;
        flex-direction: column;
    }

    .track-detail-image-container {
        width: 100%;
        font-size: calc(12px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

    }

    .track-detail-video {
        width: 100%;
        margin-top: 20px;
    }

    .track-detail-info-container {
        margin-top: 20px;
        margin-left: 5px;
        flex-direction: column;
        text-align: center;
    }

    .track-detail-info-left {
        width: 100%;
        margin-top: 5px;
    }

    .track-detail-info-right {
        width: 100%;
        margin-bottom: 5px;
    }

    .track-info-description-container {
        margin-top: 20px;
    }

}