.theme-buttons {
    margin-bottom: 20px;
}

.upside-down::after {
    content: "MotoGP World";
    display: flex;
    transform: rotateX(180deg);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 24%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    justify-content: center;
    color: transparent;
    margin-top: -81px;
    filter: drop-shadow(0 -6mm 4mm rgb(169, 169, 169));
}

.select-theme-div {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.select-theme-div .btn {
    margin-right: 1rem;
    width: 100px;
    margin-top: 5px;
}

.landing-page-select-theme-text {
    text-align: center;
}

.aprilia-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #008C45;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.ducati-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid red;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.gresini-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #000000;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.lcr-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #BF9D3E;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.monster-yamaha-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #95D600;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.vr46-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #ccff00;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.ktm-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #F2771A;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.pramac-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid rebeccapurple;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.repsol-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #e3192f;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.tech3-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #F2771A;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.suzuki-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #2A52BE;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.withu-card-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 15rem;
    border-radius: 5px;
    border-bottom: 5px solid #0F4C81;
    box-shadow: 5px 5px 5px 5px #00000052;
}

.card-body {
    height: 100%;
    display: flex;
    align-content: flex-end;
}

.card-logo {
    width: 96%;
    margin-left: 5px;
    margin-right: 5px;
}

.card-logo-ducati {
    margin-top: 9px;
    margin-left: 5px;
    margin-right: 5px;
    width: 97%;
}

.card-logo-gresini {
    width: 95%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-logo-vr46 {
    margin-top: 10px;
}

.card-logo-monster-yamaha {
    margin-top: 5px;
}

.card-logo-pramac {
    margin-top: 5px;
    height: 70%;
}

.card-logo-ktm {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    height: 71%;
    width: 49%;
    align-self: center;
}

.card-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 5px;
}

.card-logo-repsol {
    width: 95%;
    margin-top: 23px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-logo-suzuki {
    width: 95%;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-logo-withu {
    margin-top: 5px;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 400px;
}

@keyframes animate {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    0% {
        background-position: 0 50%;
    }
}

.admin-only {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: fadeIn 5s
}

.h1-fade-in {
    color: var(--headings-color);
}

.admin-only-button-landing-page {
    border: var(--team-button-border);
    background-color: var(--team-button-background);
    color: var(--team-button-color);
}

:hover.admin-only-button-landing-page {
    border: var(--team-button-alt-border);
    background-color: var(--team-button-alt-background);
    color: var(--team-alt-button-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .content-container {
        margin: 1rem 1rem 0 1rem;
    }

    .theme-section-title {
        font-size: calc(45px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

    .upside-down::after {
        margin-top: -35px;
    }

    .theme-section-desc {
        margin-top: 40px;
        font-size: 18px;
        margin-left: auto;
        margin-right: auto;
    }

    .theme-buttons {
        margin-top: 40px;
        height: 500px;
    }

    .landing-page-select-theme-text {
        height: 170px;
    }

    .select-theme-heading {
        margin-bottom: 20px;
    }

    .swiper {
        position: absolute !important;
        left: -100px;
        width: 440px !important;
        --swiper-navigation-size: 0;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}