:root {
    --bg-color: #fff;
    --headings-color: #000000;
    --alt-headings-color: #000000;
    --desc-color: #000000;
    --border-bottom: 5px solid #52cc00;
    --team-highlight-color: #52cc00;
    --team-button-border: 2px solid #cc2229;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #cc2229;
    --team-button-alt-background: #ffffff;
    --team-alt-button-color: #cc2229;
    --alt-color-article-detail-title: #000000;
    --alt-side-color-article-detail: #000000;
    --article-title-gallery-color: #000000;
    --bottom-border-tabs: 5px solid #52cc00;

}

body[data-theme="ducati-theme"] {
    --bg-color: #282c34;
    --headings-color: #ffffff;
    --alt-headings-color: #ffffff;
    --desc-color: red;
    --border-bottom: 5px solid red;
    --team-highlight-color: red;
    --team-button-border: 2px solid black;
    --team-button-background: red;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid red;
    --team-button-alt-background: #ffffff;
    --team-alt-button-color: #000000;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: red;
    --article-title-gallery-color: red;
    --bottom-border-tabs: 5px solid red;
}

body[data-theme="gresini-theme"] {
    --bg-color: #8facd8;
    --headings-color: #000000;
    --alt-headings-color: #ffffff;
    --desc-color: #ffffff;
    --border-bottom: 5px solid #000000;
    --team-highlight-color: red;
    --team-button-border: 2px solid #000000;
    --team-button-background: #8facd8;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #000000;
    --team-button-alt-background: #ffffff;
    --team-alt-button-color: #000000;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #ffffff;;
    --article-title-gallery-color: #000000;
    --bottom-border-tabs: #000000;
}

body[data-theme="lcr-theme"] {
    --bg-color: #ffffff;
    --headings-color: #BF9D3E;
    --alt-headings-color: #000000;
    --desc-color: #000000;
    --border-bottom: 5px solid #BF9D3E;
    --team-highlight-color: #BF9D3E;
    --team-button-border: 2px solid #BF9D3E;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #000000;
    --team-button-alt-background: #BF9D3E;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #BF9D3E;
    --alt-side-color-article-detail: #BF9D3E;
    --article-title-gallery-color: #BF9D3E;
    --bottom-border-tabs: #BF9D3E;
}

body[data-theme="yamaha-theme"] {
    --bg-color: #000000;
    --headings-color: #ffffff;
    --alt-headings-color: #0A2D82;
    --desc-color: #ffffff;
    --border-bottom: 5px solid #95D600;
    --team-highlight-color: #95D600;
    --team-button-border: 2px solid #0A2D82;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #ffffff;
    --team-button-alt-background: #0A2D82;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #0A2D82;
    --article-title-gallery-color: #95D600;
    --bottom-border-tabs: 5px solid #95D600;
}

body[data-theme="vr46-theme"] {
    --bg-color: #000000;
    --headings-color: #FFBF00;
    --alt-headings-color: #ffffff;
    --desc-color: #ffffff;
    --border-bottom: 5px solid #ffff00;
    --team-highlight-color: #ffff00;
    --team-button-border: 2px solid #FFBF00;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #000000;
    --team-button-alt-background: #FFBF00;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #FFBF00;
    --article-title-gallery-color: #FFBF00;
    --bottom-border-tabs: 5px solid #ffff00;
}

body[data-theme="ktm-theme"] {
    --bg-color: #001a72;
    --headings-color: #ffffff;
    --alt-headings-color: #ffffff;
    --desc-color: #F2771A;
    --border-bottom: 5px solid #F2771A;
    --team-highlight-color: #F2771A;
    --team-button-border: 2px solid #F2771A;
    --team-button-background: #001a72;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #001a72;
    --team-button-alt-background: #F2771A;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #F2771A;
    --article-title-gallery-color: #F2771A;
    --bottom-border-tabs: 5px solid #F2771A;
}

body[data-theme="pramac-theme"] {
    --bg-color: #ffffff;
    --headings-color: red;
    --alt-headings-color: #000000;
    --desc-color: rebeccapurple;
    --border-bottom: 5px solid rebeccapurple;
    --team-highlight-color: rebeccapurple;
    --team-button-border: 2px solid red;
    --team-button-background: #ffffff;
    --team-button-color: rebeccapurple;
    --team-button-alt-border: 2px solid red;
    --team-button-alt-background: rebeccapurple;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: rebeccapurple;
    --alt-side-color-article-detail: rebeccapurple;
    --article-title-gallery-color: rebeccapurple;
    --bottom-border-tabs: 5px solid red;
}

body[data-theme="repsol-theme"] {
    --bg-color: #ffffff;
    --headings-color: #e3192f;
    --alt-headings-color: #000000;
    --desc-color: #f6a60e;
    --border-bottom: 5px solid #e3192f;
    --team-highlight-color: #e3192f;
    --team-button-border: 2px solid #f6a60e;
    --team-button-background: #ffffff;
    --team-button-color: #e3192f;
    --team-button-alt-border: 2px solid #e3192f;
    --team-button-alt-background: #f6a60e;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #e3192f;
    --alt-side-color-article-detail: #f6a60e;
    --article-title-gallery-color: #f6a60e;
    --bottom-border-tabs: 5px solid #e3192f;
}

body[data-theme="tech3-theme"] {
    --bg-color: #000000;
    --headings-color: #ffffff;
    --alt-headings-color: #000000;
    --desc-color: #F2771A;
    --border-bottom: 5px solid #F2771A;
    --team-highlight-color: #F2771A;
    --team-button-border: 2px solid #F2771A;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #000000;
    --team-button-alt-background: #F2771A;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #F2771A;
    --article-title-gallery-color: #F2771A;
    --bottom-border-tabs: 5px solid #F2771A;
}

body[data-theme="suzuki-theme"] {
    --bg-color: silver;
    --headings-color: #2A52BE;
    --alt-headings-color: #000000;
    --desc-color: #ffffff;
    --border-bottom: 5px solid #2A52BE;
    --team-highlight-color: #2A52BE;
    --team-button-border: 2px solid #2A52BE;
    --team-button-background: silver;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid silver;
    --team-button-alt-background: #2A52BE;
    --team-alt-button-color: #ffffff;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #2A52BE;
    --article-title-gallery-color: #2A52BE;
    --bottom-border-tabs: 5px solid #2A52BE;
}

body[data-theme="withu-theme"] {
    --bg-color: #0F4C81;
    --headings-color: #ffffff;
    --alt-headings-color: #000000;
    --desc-color: #ffffff;
    --border-bottom: 5px solid #2A52BE;
    --team-highlight-color: #2A52BE;
    --team-button-border: 2px solid #0F4C81;
    --team-button-background: #000000;
    --team-button-color: #ffffff;
    --team-button-alt-border: 2px solid #000000;
    --team-button-alt-background: #ffffff;
    --team-alt-button-color: #0F4C81;
    --alt-color-article-detail-title: #ffffff;
    --alt-side-color-article-detail: #000000;
    --article-title-gallery-color: #000000;
    --bottom-border-tabs: 5px solid #000000;
}

body {
    background: var(--bg-color) !important;
}

.content-container {
    margin-top: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.theme-section-headings {
    padding-top: 3rem;
}

.theme-section-title {
    color: var(--headings-color);
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
}

.c-section-title {
    margin-bottom: 16px;
    color: var(--headings-color);
}

.select-theme-heading {
    color: var(--headings-color);
}

.theme-section-desc {
    margin-right: 5rem;
    color: var(--desc-color);
    text-align: center;
    font-size: 2rem;
}

#Aprilia {
    background-color: black;
    border: 2px solid #cc2229;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Aprilia:hover {
    background-color: white;
    border: 2px solid #cc2229;
    color: #cc2229;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Ducati-Lenovo {
    background-color: red;
    border: 2px solid black;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Ducati-Lenovo:hover {
    background-color: white;
    border: 2px solid red;
    color: #000000;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Gresini {
    background-color: #8facd8;
    border: 2px solid #000000;
    color: #000000;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Gresini:hover {
    background-color: white;
    border: 2px solid #000000;
    color: #000000;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;

}

#LCR {
    background-color: #000000;
    border: 2px solid #BF9D3E;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#LCR:hover {
    background-color: #BF9D3E;
    border: 2px solid #000000;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Monster-Yamaha {
    background-color: #000000;
    border: 2px solid #0A2D82;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Monster-Yamaha:hover {
    background-color: #0A2D82;
    border: 2px solid #ffffff;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#VR46 {
    background-color: #000000;
    border: 2px solid #FFBF00;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#VR46:hover {
    background-color: #FFBF00;
    border: 2px solid #000000;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#KTM {
    background-color: #001a72;
    border: 2px solid #F2771A;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#KTM:hover {
    background-color: #F2771A;
    border: 2px solid #001a72;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Pramac {
    background-color: #ffffff;
    border: 2px solid red;
    color: rebeccapurple;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Pramac:hover {
    background-color: rebeccapurple;
    border: 2px solid red;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Repsol {
    background-color: #ffffff;
    border: 2px solid #f6a60e;
    color: #e3192f;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Repsol:hover {
    background-color: #f6a60e;
    border: 2px solid #e3192f;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Tech3 {
    background-color: #000000;
    border: 2px solid #F2771A;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Tech3:hover {
    background-color: #F2771A;
    border: 2px solid #000000;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Suzuki {
    background-color: silver;
    border: 2px solid #2A52BE;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#Suzuki:hover {
    background-color: #2A52BE;
    border: 2px solid silver;
    color: white;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#WithU {
    background-color: #000000;
    border: 2px solid #0F4C81;
    color: #ffffff;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}

#WithU:hover {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #0F4C81;
    box-shadow: 5px 5px 5px #00000052;
    border-radius: 5px;
    margin-right: 0px;
}
